.label-text {
    font-size: 16px;
}

.option-text {
    font-size: 12px;
}

:root {
  --main-color: #18536F;
  --main-color-shadow: rgba(24,83,111,0.6);
  --off-white: #F5F5F5;
}

input[type = "checkbox"],
input[type = "radio"] {
  accent-color: var(--main-color)!important;
}

.irs-single, 
.irs-bar-edge, 
.irs-bar {
  background: var(--main-color)!important;
  border-top: 1px solid var(--main-color)!important;
  border-bottom: 1px solid var(--main-color)!important;
  
}

/* changes the colour of the number tags */
.irs-from, 
.irs-to, 
.irs-single { 
  background: var(--main-color)!important; 
  
}

/* Header menu styles ------------------------------------------------- */
.nav {                                                                /**/
  align-items: center;                                                /**/
}                                                                     /**/
.navbar,                                                              /**/
.navbar-brand,                                                        /**/
.navbar-light .navbar-brand,                                          /**/
.navbar.navbar-default .navbar-brand{                                 /**/
  color: #F5F5F5;                                                     /**/
  --bslib-navbar-default-bg: #18536F;                                 /**/
}                                                                     /**/
.navbar-nav .nav-link.active {                                        /**/
  color: #F5F5F5!important;                                           /**/
}                                                                     /**/
.navbar-nav .nav-link {                                               /**/
  color: rgba(245,245,245,0.5)!important;                             /**/
}                                                                     /**/
.navTitle {                                                           /**/
  padding: 15px 15px 0px 15px;                                        /**/
  background-color: #18536F;                                          /**/
}                                                                     /**/
.pageTitle {                                                          /**/
  color: #F5F5F5;                                                     /**/
  font-weight: bold;                                                  /**/
  font-size: 24pt;                                                    /**/
  padding: 0px 10px;                                                  /**/
  vertical-align: middle;                                             /**/
}                                                                     /**/
.container-fluid {                                                    /**/
  padding-right: 0px;                                                 /**/
  padding-left: 0px;                                                  /**/
}                                                                     /**/
.tab-content,                                                         /**/
.navbar {                                                             /**/
  padding-right: 15px;                                                /**/
  padding-left: 15px;                                                 /**/
}                                                                     /**/
/*----------------------------------------------------------------------*/
  
/* ---------------------------------------------------------- */
/* Datatable Styles (DT)                                      */
/* ---------------------------------------------------------- */
                                                            /**/
/* Removes the long line beneath auto-width plots           /**/
.dataTables_scrollBody {                                    /**/
  border-bottom: none!important;                            /**/
}                                                           /**/
                                                            /**/
/* Adds a bottom border only the width of auto-width table  /**/
.dataTables_scrollBody .dataTable {                         /**/
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)!important;    /**/
}                                                           /**/
                                                            /**/
                                                            /**/
table.dataTable.display>tbody>tr.selected+tr.selected>td {  /**/
  border-top-color: #F5F5F5!important;                      /**/
}                                                           /**/
                                                            /**/
/* Remove default centering behaviour for auto-width tables /**/
.dataTable thead,                                           /**/
.dataTable tbody {                                          /**/
  vertical-align: bottom!important;                         /**/
}                                                           /**/
                                                            /**/
table.dataTable {                                           /**/
  margin: 0!important;                                      /**/
}                                                           /**/
/* ---------------------------------------------------------- */

/* ----------------------------------------------- */
/* 'Calculate' and 'Reset' button styles           */
/* ----------------------------------------------- */
.act-btn,                                        /**/
.act-btn:focus,                                  /**/
.btn-default,                                    /**/
.btn-default:focus {                              /**/
  color: var(--off-white)!important;             /**/
  font-weight: bold!important;                   /**/
  background-color: var(--main-color)!important; /**/
  border-color: var(--main-color)!important;     /**/
}                                                /**/
.act-btn:hover,                                  /**/
.btn-default:hover {                             /**/
  color: var(--off-white);                       /**/
  font-eight: bold;                              /**/
  background-color: var(--main-color-shadow);    /**/
  border-color: var(--main-color);               /**/
}                                                /**/
/*-------------------------------------------------*/
  
/* ------------------------------------------------- */
/* graph options dropdown menu icon styles           */
/* ------------------------------------------------- */
.bttn-jelly.bttn-primary {                         /**/
  background-color: var(--main-color)!important;   /**/
}                                                  /**/
                                                   /**/
.btn-primary{                                      /**/
  background-color: var(--main-color)!important;   /**/
  border-color: var(--main-color)!important;       /**/
}                                                  /**/
/* ------------------------------------------------- */

.mandatory_star { color: red; }
.invisible { display: none; }
.dropDown:hover {
    color: ADD8E6;
    background-color: #000000;
}
